body {
    background-image: url(img/underground_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin: 0px 150px;
}

.logo {
    padding-right: 50px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 40px;
    transition: color 0.3s linear;
}

.link:hover {
    color: wheat;
}

.Contacts {
    border-left: 1px solid white;
    padding-left: 25px;
    height: 30px;
    padding-top: 10px;
}

.contlink {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 20px;
}

.contlink:hover {
    color: red;
}

#mainpage {
    color: wheat;
}

#fagpage {
    color: wheat;
}

#scriptspage {
    color: wheat;
}

.Krnltext {
    color: white;
    font-size: 20px;
    padding-top: 50px;
}